

/* TABLE */
table {
    width: 100%;
    text-align: left;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th,
  td {
    padding: 0.5em;
    min-width: 3.5em;
  }
  thead {

    color: #000000;
    text-decoration: none;
  }

/* Footer */

.over-budget{
  font-size: 1.75em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 4em;
  font-size: 1.75em;
  background-color: lightpink;
  color:red;
}